# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.P
*.tmp
Depends

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# tar files
*.tar
*.tar.gz
*.xz
*.tar.xz

# pFUnit files
test*.F90

# LaTeX related files
*.aux
*.dvi
*.log
*.bbl
*.blg
*.ps
*.pdf
*.bak
!fortran_usage/*pdf
!reference/*pdf

# netcdf files
*.nc

# gnu coverage files (gcov)
*.gcda
*.gcno
*.f90.gcov

# emacs backup files
*~

# from plplot
*.png
!fortran_usage/*.png
*.mov
*.mp4
!exercises/*.png

# doxygen documentation
doxygen

# ford documentation
doc

# autotools stuff
autom4te.cache/
configure

# CMake build directory
solutions/src/build/