# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# tar files
*.tar
*.tar.gz
*.xz
*.tar.xz

# pFUnit files
test*.F90

# LaTeX related files
*.aux
*.dvi
*.log
*.bbl
*.blg
*.ps
*.pdf
!fortran_usage/*pdf

# netcdf files
*.nc

# gnu coverage files (gcov)

*.gcda
*.gcno
*.f90.gcov

# emacs backup files
*~

# from plplot
*.png
!fortran_usage/*.png
*.mov
*.mp4

# doxygen documentation
doxygen
