# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# LaTeX related files

*.aux
*.dvi
*.log
*.ps
*.pdf

# emacs backup files
*~

# doxygen documentation
doxygen
